.experience{
//  background-color: $color-grey-light-1;
  grid-column: center-start/center-end;
 // margin-top:8rem;
  @media only screen and (max-width:$bp-large){
    grid-row: span 2;
}

  &-1{
background-color: $color-developer;
margin-top:2rem;
padding: 3rem;
border-radius: 2%;
  }

  &-2{
    background-color: $color-cloud;
    margin-top:3rem;
    padding: 3rem;
    border-radius: 2%;
      }

}