@mixin respond($breakpoint){

  @if $breakpoint == sm-phone{
    @media only screen and (max-width:26.56em){ @content};
  }


  @if $breakpoint == phone{
    @media only screen and  (max-width:37.5em){ @content};
  }

  @if $breakpoint == tab-port{
    @media only screen  and (max-width:56.25em){ @content};
  }

  @if $breakpoint == tab-land{
    @media only screen  and  (max-width:75em){ @content};
  }

  @if $breakpoint == bg-desktop{
    @media only screen  and (min-width:112.5em){ @content};
  }
}

@mixin hover-border{
  border-bottom: 2px solid currentColor;
  border-radius: 0;
  transform: translateY(-0.7rem);
  //box-shadow: 0.5rem 1rem 2rem rgba(0,0,0,0.4) ;
 // border:2px solid currentColor;

}