.projects {
  // background-color: $color-primary-light;
  grid-column: center-start/center-end;
  margin-top: 8rem;

  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    grid-gap: 4rem;
  }

  &-btn {
    justify-self: end;
    align-self: center;
    padding: 0;
  }
}

.project {
  padding: 4rem;
  border-radius: 5%;
  &-1 {
    background-color: $color-name;
  }

  &-2 {
    background-color: $color-primary;
  }

  &-3 {
    background-color: $color-cloud;
  }

  &-4 {
    background-color: $color-software;
  }
  &-5 {
    background-color: $color-developer;
  }

  @media only screen and (max-width: $bp-large) {
   margin:0 3rem;

  }
}

//page

.projects-page {
  display: grid;

  grid-template-columns: [sidebar-start] 10rem [sidebar-end] repeat(
      auto-fit,
      minmax(50rem, 1fr)
    );
  grid-template-rows: 40vh repeat(4, min-content);
  grid-row-gap: 4rem;
  padding-right: 4rem;

  background-color: $color-grey-light-1;

  @media only screen and (max-width: $bp-large) {
   // padding: 0 8rem;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    grid-template-rows: 10rem max-content repeat(4, min-content);
    padding-right: 0rem;
  }

  }
  .projects-heading {
    grid-column: 2/-1;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: $color-primary-dark-1;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
      grid-column: 1/-1;
    }

    &-image {
      margin-left: 3rem;
    }

}
