.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  //display: flex;
  //justify-content: center;
  z-index: 0;
  // transition: all 0.3s;
  // transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  @media only screen and (max-width: $bp-large) {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: block;
   // align-items: center;
   // justify-content: flex-end;
  }
}

.sidebar-toggleshow {

  width: 20vw;

  @media only screen and (max-width:$bp-large){
  width: 80vw;
  height: 80vh;
  box-shadow: 0.5rem 1rem 2rem rgba(0,0,0,0.3);
  }


}

.disappear {
  display: none;
}
.nav,
.nav-list {
  flex-direction: column;
  //z-index: 5;
}

.nav-list {
  display: none;
}
.nav-list {
  // flex-direction: column;
  //justify-content: center;
  font-family: $font-serif;
  font-size: 2.5rem;
  list-style: none;
  margin-top: 10rem;
  width: 100%;

  @media only screen and (max-width:$bp-large){
    margin-top: 2rem;
    margin: auto;

    }


}

.nav-toggleshow {
  display: flex;
  position: fixed;
  width: 20vw;
  justify-items: center;

  @media only screen and (max-width:$bp-large){
    position: relative;
    width: 22vw;
    }

    @media only screen and (max-width:$bp-medium){
        width: 25vw;
      }

      @media only screen and (max-width:$bp-small){
        width: 30vw;
      }

      @media only screen and (max-width:$bp-smallest){
        width: 40vw;
      }
}

.nav-link {
  text-decoration: none;
  padding: 1.5rem 1rem;
  color: $color-grey-dark-1;
  display: inline;
  margin: 0 0.5rem;
  // transform: translate(90deg);
  padding-left: 2vw;
  //transform: scaleY(0);
  transition: transform 0.5s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    //delay wait
    background-color 0.1s;
  border-bottom: 0.5px solid currentColor;
    &:first-child{
      margin-top:2rem;
    }
  &:hover {
    background-color:$color-cloud;
    border: 1px solid currentColor;
    border-radius: 5%;
    transform: scaleY(1.1);
  }

  &-end{
    justify-self: end;
  }
}
.nav-btn {

  border: none;
  color: $color-grey-dark-2;
  background-color: $color-primary;
  border-radius: 0;

  //width:4.5rem;
  margin-top: 4rem;
  position: fixed;
  margin-left:2.5rem;
  cursor: pointer;
  //border: 1px solid currentColor;
  transition: transform 0.5s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
  //delay wait
  background-color 0.1s;

  @media only screen and (max-width:$bp-large){
    position: relative;

    }

  .fa-3x{
  @media only screen and (max-width:$bp-large){
    font-size: 2em;

    }
  }

  @media only screen and (max-width:$bp-large){
    margin: 2rem  0rem 2rem 2rem;;
    //margin-left:2rem;
    //margin-left: auto;
    //align-self: flex-start;
    }


  &:hover{
    transform: scaleY(1.2);
  }
}


.sidebar-icon{
  margin-right:1rem;
  font-size: 2rem;;
}
