.skills{
//  background-color: $color-grey-light-1;
  grid-column: center-start/center-end;

  &-container{
    display:grid;
    grid-template-columns:  repeat(auto-fit,minmax(25rem,1fr));

    grid-gap:2rem;
    padding: 2rem;
    // align-items: center;
    // justify-items: center;
  }

  &-heading{

    margin:1rem 0rem 0 2rem;
  }

}


.skill{
  border-radius: 10%;
  text-align: center;
  //background-color: #dbdbf2;
  padding-top:3rem;
  box-shadow : 0 1rem 1rem rgba(0,0,0,0.3);
  border:1px solid currentColor;

  &-body{
    margin-top:1rem;
   // background-color: $color-name;
    padding:3rem;
    border-radius: 10%;
  }

  &-good{
//background-color: $color-name;
  }
}

.checked {
  color: green;
}

.icon {
  color:$color-and;
  margin-top: 1rem;
}

.icon:hover {
  color: $color-git;
}
