.btn-link{
  text-decoration: none;
  font-family: $font-serif;
  color:white;
  background-color: $color-button;
  padding: 3rem;
  border-radius: 20%;

  &:hover{
    border-radius:0;
   // @include hover-border;
    background-color: $color-primary;
    color:$color-grey-dark-1;
    border: 2px solid currentColor;
  }
}


.heading-1{
  font-size: 6rem;
  font-family: $font-serif;
  }

.heading-2{
  font-size: 5rem;
  font-family: $font-serif;
  }


  .heading-3{
  font-size: 3rem;
  font-family: $font-serif;
  }

  .heading-4{
    font-size: 2.75rem;
    font-family: $font-serif;
  }

  .heading-5{
    font-size: 2.25rem;
    font-family: $font-serif;
  }

  .heading-6{
    font-size: 1.75rem;
    font-family: $font-serif;;
  }

  .heading-p{
    font-size: 2rem;
    font-family: $font-serif;
  }

  .paragraph{
    margin: 2rem 0;
  }