// variables

$color-primary-background: #eef1ff;;


 $color-primary-dark-1: #b3b8c5;
 $color-gradient-light: #7895b2;

$color-primary-light: #f2f2f7;
$color-primary: #e3fff8;//97D2EC;//#EBC7E8; darker #A8D1D1
$color-primary-dark: #D3CEDF;
$color-header: #D3E0DC;;
$color-header-dark: #8DCBE6;;
$color-hello:#86C8BC;
$color-name :#fcd7d4;
$color-cloud :#E8F3D6;
$color-and :#BA94D1 ;
$color-software :#fbd8bb ;
$color-developer :#FFF6BD;
$color-git: #AAC4FF;
$color-secondary-light:#eef1ff ;
$color-secondary:#eef1ff;
$color-secondary-dark: #eef1ff;

$color-button: rgb(86, 191, 86);
$color-icon:#facfcb;
$color-grey-light-1: #f2f2f7;
$color-grey-light-2: #aaa;

$color-grey-dark-1:  #3a4154 ;
$color-grey-dark-2:  #4b5b6d ;



$color-text-body: black;

$box-shadow : 0 2rem 3rem rgba($color-primary,0.8);


// FONT VARIABLES
$font-primary:   'Open Sans', sans-serif;
$font-serif: 'Bellota', cursive;
$font-italics :'Bellota', cursive;

$default-font-size: 1.75rem;

$bp-largest: 75em;
//1200

$bp-large: 62.5em;
//1000

$bp-medium:50em;
// 800

$bp-small: 37.5em;
//600

$bp-smallest: 30em;


// $color-primary-dark: #eef1ff;
// $color-primary-light: #D2DAFF;



// $color-secondary-dark: #ff6b4a;
// $color-secondary-light: #4880b7;